.subheading {
    padding: 0 0 16px;
}

.actions {
    display: flex;
    margin: 0 -8px;
    padding: 8px 0;

    > * {
        margin: 0 8px;
    }
}

.languages {
    max-height: 260px;
    margin: 0 -8px;
    overflow-y: scroll;
}

.item {
    display: flex;
    align-items: center;

    > * {
        margin: 0 8px;
    }
}
